@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
 body {
   background: white;
   print-color-adjust: exact;
   -webkit-print-color-adjust: exact;
 }
 @page {
   size: A4 portrait;
   margin: 0;
 }
}